{% extends 'base.html.twig' %}

{% block title %}Profil {{app.user.username}}
{% endblock %}

{# {% block h1 %}Mon profil
{% endblock %} #}

{% block body %}

	<h2>Bonjour,
		{{ app.user.pseudo }}</h2>

	<ul class="list-group">
		<li class="list-group-item">Nom:
			{{ app.user.nom }}</li>
		<li class="list-group-item">Prénom:
			{{ app.user.prenom }}</li>
	</ul>

{% endblock %}